body{
    font-family: 'Lato', sans-serif;
    width: 500px;
    padding: 30px;
  }
  
  
  #employment_history > section{
    padding-bottom: 30px;
  }
  
  address{
    padding-bottom: 30px;
    font-style: normal;
  }
  
  address a{
    line-height: 25px;
  }
  
  h1{
    font-size: 40px;
  }
  
  h2{
    font-size: 30px;
    color: darkblue;
  }
  
  h3{
    font-size: 22px;
  
  }
  
  h4{
    font-size: 18px;
  }
  
  h5{
    font-size: 15px;
    text-transform: uppercase;
  }
  
  p {
    font-size: 18px;
    line-height: 28px;
  }
  
  ul{
    list-style: none;
    padding-left: 0;
  }
  
  ul li {
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    margin: 0;
  }
  